h1{
    text-align: center;
    color:#339900;
    background-color: #CCCC00;
}
.tg{
    text-align: center;
}
.doan1{
    text-align: center;
    color: blue;
}
.doan2{
    text-align: left;
    color: red;
}
.doan3{
    text-align: right;
}
