body {
    font-family: Arial, sans-serif;
    background: #fff;
    padding: 40px;
  }
  
  .offer-section {
    max-width: 200px;
    margin-top: 113px;
  }
  
  .offer-title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 4px;
  }
  
  .offer-subtitle {
    color: #999;
    font-size: 14px;
    margin-bottom: 20px;
  }
  
  .countdown {
    display: flex
;
    gap: 10px;
    margin-top: 154px;
  }
  
.time-box {
    background-color: #444;
    color: white;
    padding: 5px 15px;
    border-radius: 4px;
    text-align: center;
    min-width: 10px;
    height: 50px;
  }
  
  .time-box span {
    display: block;
    font-size: 18px;
    font-weight: bold;
  }
  
  .time-box small {
    font-size: 12px;
    color: #ddd;
  }
.ao{
    text-align: center;
    border: 2px solid rgb(247, 244, 244);
    border-radius: 10%;
    width: 200px;
margin-top: 20px;
}
img{
    width: 170px;
    height: 150px;
}
.ten_ao{
color: blue;
font-size: 20px;
}
.gia{
    color: red;
}
.ds_ao{
    display: flex
    ;
        justify-content: space-around;
        margin-top: -131px;
}
