.menu>a{
    background-color: blue;
    padding: 10px;
    color: white;
    text-decoration: none;
    border: 1px solid gray;
    display: block;
    width: 200px;
    }
    .menu>a:hover{
        background-color: red; 
        border: 0.5px dashed gray;
    }
